.container {
  position: relative;
  width: 80%;
  max-width: 960px;
}

a {
  color: $orange;

  &:hover {
    color: $dark-orange;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

.form-control {
  position: relative;
  top: 50%;
  margin-top: -17px;

  &:focus {
    outline: 0;
    border-color: $orange;
    box-shadow: none;
  }
}

.box {
  position: relative;
  height: 70px;
  border-bottom: 1px solid $border-color;

  > div {
    height: 100%;
    position: relative;
    overflow: hidden;

    h3 {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      width: calc(100% - 30px);
      font-weight: 400;
      font-size: $sub-heading;

      span {
        float: right;
      }
    }
  }

  .inline-radio {
    margin-top: 24px;
    margin-right: 10px;
    cursor: pointer;

    input {
      position: relative;
      top: 2px;
    }
  }

  .radio-with-image {
    float: left;
    width: 33.3333%;
    border: 1px solid $orange;
    border-right: none;
    margin-top: 20px;
    text-align: center;
    height: calc(100% - 40px);

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-right: 1px solid $orange;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.small {
      width: 25%;
    }

    &.flat {

      label {
        padding-top: 6px;
        color: $orange;
      }
    }
    
    input {
      display: none;

      &:checked + label {
        background-color: $orange;
        color: $white;
        font-weight: 600;
      }
    }

    label {
      height: 100%;
      width: 100%;
      cursor: pointer;

      img {
        width: 110px;
        margin-top: 10px;
        transition: all .3s ease;
      }
    }

    &:hover {

      img {
        width: 130px;
        margin-top: 5px;
      }
    }
  }
}