/* Colors */
    $white: #fff;
    $black: #000;
    $border-color: #ddd;
    $orange: #e8972c;
    $dark-orange: #d28115;

/* Fonts and sizes */
    $open-sans: 'Open Sans', sans-serif;

    $heading: 36px;
    $sub-heading: 18px;
    $sub-heading-scaled: 20px;
    $regular-font-size: 16px;
    $small-font-size: 14px;
    $extra-small-font-size: 12px;
    $smallest-font-size: 11px;