header {
  background-image: url('/assets/img/header-background.jpg');
  background-position: top center;
  height: 120px;

  .logo {
    display: inline-block;
    width: 120px;
    padding-top: 8px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    width: 65%;
  }

  .languages {
    position: absolute;
    right: 0px;
    top: 5px;

    li {
      display: inline-block;
      width: 30px;
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }
    }
  }
}