.female {

  .box {

    &.hairlength-box {
      height: 17vw;
      max-height: 160px;
    }

    &.boobsize-box {
      height: 14vw;
      max-height: 140px;

      .radio-with-image.small {

        label {

          img {
            margin-top: 5px;
          }
        }

        &:hover {

          label {

            img {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }

  .button {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}