<header>
    <div class="container">
        <div class="logo">
            <img src="/assets/img/logo.png" alt="Kamelrechner logo">
        </div>
        <h1>{{text}}</h1>
        <ul class="languages">
            <li ng-click="activateLanguage('de')"><img src="/assets/img/flag-de.png" alt="Flag DE"></li>
            <li ng-click="activateLanguage('en')"><img src="/assets/img/flag-en.png" alt="Flag EN"></li>
            <li ng-click="activateLanguage('es')"><img src="/assets/img/flag-es.png" alt="Flag ES"></li>
        </ul>
    </div>
</header>