<kr-header text="{{homePage.headerText}}"></kr-header>
<section class="main">
    <div class="container">
        <p>{{homePage.paragraph}}</p>

        <div class="row">
            <div class="col-xs-6 select-box">
                <div class="select" ng-click="SelectFemale()">
                    <div class="image">
                        <img src="/assets/img/select-woman.png" alt="Select woman">
                    </div>
                    <h2>{{homePage.femaleBox}}</h2>
                </div>
            </div>
            <div class="col-xs-6 select-box">
                <div class="select" ng-click="SelectMale()">
                    <div class="image">
                        <img src="/assets/img/select-man.png" alt="Select man">
                    </div>
                    <h2>{{homePage.maleBox}}</h2>
                </div>
            </div>
        </div>

    </div>
</section>