<kr-header text="{{headerText}}"></kr-header>
<section class="main">
    <div class="container">
        <div class="row box age-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.age}} <span>{{ageSlider.value}}</span></h3>
            </div>
            <div class="col-xs-8 right-box">
                <rzslider rz-slider-model="ageSlider.value" rz-slider-options="ageSlider.options"></rzslider>
            </div>
        </div>
        <div class="row box height-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.height}} <span>{{heightSlider.value}}</span></h3>
            </div>
            <div class="col-xs-8 right-box">
                <rzslider rz-slider-model="heightSlider.value" rz-slider-options="heightSlider.options"></rzslider>
            </div>
        </div>
        <div class="row box haircolor-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.hairColor.main}}</h3>
            </div>
            <div class="col-xs-8 right-box">
                <select name="hairColor" class="form-control" ng-model="hairColor" ng-init="hairColor === 'blonde'">
                    <option value="blonde">{{labels.hairColor.blonde}}</option>
                    <option value="brown">{{labels.hairColor.brown}}</option>
                    <option value="black">{{labels.hairColor.black}}</option>
                    <option value="red">{{labels.hairColor.red}}</option>
                    <option value="grey">{{labels.hairColor.gray}}</option>
                </select>
            </div>
        </div>
        <div class="row box hairlength-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.hairLength.main}}</h3>
            </div>
            <div class="col-xs-8 right-box">
                <div class="radio-with-image small flat">
                    <input type="radio" name="hairLength" id="long" value="long" ng-model="hairLength" checked>
                    <label for="long">{{labels.hairLength.long}}</label>
                </div>
                <div class="radio-with-image small flat">
                    <input type="radio" name="hairLength" id="middle" value="middle" ng-model="hairLength">
                    <label for="middle">{{labels.hairLength.middle}}</label>
                </div>
                <div class="radio-with-image small flat">
                    <input type="radio" name="hairLength" id="short" value="short" ng-model="hairLength">
                    <label for="short">{{labels.hairLength.short}}</label>
                </div>
                <div class="radio-with-image small flat">
                    <input type="radio" name="hairLength" id="bald" value="bald" ng-model="hairLength">
                    <label for="bald">{{labels.hairLength.bald}}</label>
                </div>
            </div>
        </div>
        <div class="row box eyecolor-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.eyeColor.main}}</h3>
            </div>
            <div class="col-xs-8 right-box">
                <label class="inline-radio">
                    <input type="radio" name="eyeColor" value="blue" ng-model="eyeColor" checked>
                    <span class="labels-text">{{labels.eyeColor.blue}}</span>
                </label>
                <label class="inline-radio">
                    <input type="radio" name="eyeColor" value="green" ng-model="eyeColor">
                    <span class="labels-text">{{labels.eyeColor.green}}</span>
                </label>
                <label class="inline-radio">
                    <input type="radio" name="eyeColor" value="brown" ng-model="eyeColor">
                    <span class="labels-text">{{labels.eyeColor.brown}}</span>
                </label>
                <label class="inline-radio">
                    <input type="radio" name="eyeColor" value="gray" ng-model="eyeColor">
                    <span class="labels-text">{{labels.eyeColor.gray}}</span>
                </label>
            </div>
        </div>
        <div class="row box beard-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.beard}}</h3>
            </div>
            <div class="col-xs-8 right-box">
                <div class="radio-with-image small">
                    <input type="radio" name="beard" id="beardA" value="a" ng-model="beard" checked>
                    <label for="beardA">
                        <img src="/assets/img/male/beard-none.png" alt="beard a">
                    </label>
                </div>
                <div class="radio-with-image small">
                    <input type="radio" name="beard" id="beardB" value="b" ng-model="beard">
                    <label for="beardB">
                        <img src="/assets/img/male/beard-small.png" alt="beard b">
                    </label>
                </div>
                <div class="radio-with-image small">
                    <input type="radio" name="beard" id="beardC" value="c" ng-model="beard">
                    <label for="beardC">
                        <img src="/assets/img/male/beard-middle.png" alt="beard c">
                    </label>
                </div>
                <div class="radio-with-image small">
                    <input type="radio" name="beard" id="beardD" value="d" ng-model="beard">
                    <label for="beardD">
                        <img src="/assets/img/male/beard-full.png" alt="beard d">
                    </label>
                </div>
            </div>
        </div>
        <div class="row box bodytype-box">
            <div class="col-xs-4 left-box">
                <h3>{{labels.bodyType.mainMale}}</h3>
            </div>
            <div class="col-xs-8 right-box">
                <div class="radio-with-image">
                    <input type="radio" name="bodyType" id="normal" value="normal" ng-model="bodyType" checked>
                    <label for="normal">
                        <img src="/assets/img/male/body-1.png" alt="normal">
                    </label>
                </div>
                <div class="radio-with-image">
                    <input type="radio" name="bodyType" id="thin" value="thin" ng-model="bodyType">
                    <label for="thin">
                        <img src="/assets/img/male/body-2.png" alt="normal">
                    </label>
                </div>
                <div class="radio-with-image">
                    <input type="radio" name="bodyType" id="fat" value="fat" ng-model="bodyType">
                    <label for="fat">
                        <img src="/assets/img/male/body-3.png" alt="fat">
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="button" ng-click="CalculateScore()">{{labels.calculate}}</button>
        </div>
    </div>
</section>